<div >
  <h2>File Upload</h2>
  <form  (ngSubmit)="upload()"  [formGroup]="form">
    <div class="form-group">
      <label for="tanent">Tanent</label>
      <select (ngModelChange)="setNewTanent($event)" (ngModel)="tanents" 
        name="tanent" class="form-control"  formControlName="tanent">
        <option [ngValue]="null" disabled selected=true>Choose Tanent</option>
        <option *ngFor="let tanent of tanents" [ngValue]="tanent">
          {{tanent.name}}
        </option>
      </select>
    </div>

    <div class="form-group" >
      <label for="application">Application</label>
      <select (ngModelChange)="setNewApplication($event)"
        (ngModel)="appliactions" 
       name="application" class="form-control"
       formControlName="application">
        <option [ngValue]="null" disabled selected=true>Choose Application</option>
        <option *ngFor="let app of appliactions" [ngValue]="app">
          {{app.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="holdings">Holding</label>
      <select (ngModelChange)="setNewHolding($event)" (ngModel)="holdings" 
      name="holdings" class="form-control"    formControlName="holding">
        <option [ngValue]="null" disabled selected=true>Choose holding</option>
        <option *ngFor="let hold of holdings" [ngValue]="hold">
          {{hold.name}}
        </option>
      </select>
    </div>
    <div *ngIf="datamodel" [formGroup]="form">
      <div *ngFor="let model of datamodel.simpleModels" [formGroup]="form">
        <app-widget [inputmodel]="model" [form]="form"></app-widget>
      </div>
    </div>
    <div class="form-group">
      <label for="file">Choose File</label>
      <input #myInput type="file" id="file" (change)="handleFileInput($event.target.files)">
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">upload</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
    </div>
  </form>

</div>